table {
	width: 100%;
	margin: 0;
	padding: 0;
	thead {
		tr {
			border-bottom: 1px solid $light-gray;
		}
		th {
			font-weight: $font-weight-bold;
			padding: 0 $padding-sm $padding-sm;
			margin-bottom: $margin-sm;
		}
	}
	tbody {
		tr {
			background-color: transparent;
			border-bottom: 1px solid $light-gray;
			&:last-child {
				border-bottom: 0
			}
			&:nth-child(even) {
				background-color: $off-white;
			}
			td {
				padding: $padding-sm $padding-sm;
				vertical-align: top;
			}
		}
	}
}